<b>1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.</b>

In [2]:
test1 = 'This is a test of the emergency text system,' 
f = open('test.txt','w')
f.write(test1)
f.close()

<b>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?</b>

In [5]:
f= open('test.txt','r')
test2 = f.read()
test2

'This is a test of the emergency text system,'

<b>3. Create a CSV file called books.csv by using these lines:
#### title,author,year
#### The Weirdstone of Brisingamen,Alan Garner,1960
#### Perdido Street Station,China Miéville,2000
#### Thud!,Terry Pratchett,2005
#### The Spellman Files,Lisa Lutz,2007
#### Small Gods,Terry Pratchett,1992
</b>

In [25]:
import pandas as pd

import csv
data = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""
f = open('books.csv','w',encoding='UTF8')
f.writelines(data)
f.close()

<b>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).</b>

In [12]:
import sqlite3
a = sqlite3.connect('books.db')
cur = a.cursor()
cur.execute("create table books(title text,author text, year integer)")
a.commit()

OperationalError: table books already exists

<b>5. Read books.csv and insert its data into the book table.</b>

In [14]:
import pandas as pd
import csv
import sqlite3
a = sqlite3.connect('books.db')
cur = a.cursor()
with open('books.csv') as data:
    data_csv = csv.reader(data,delimiter="\n")
    for i in enumerate(data_csv):
        print(i[1])
        for j in i[1]:
            #cur.execute("insert into books values({data})".format(data=(j)))
            print(j)
    a.commit()
#
#data = pd.read_csv('books.csv')
#df.iloc[[1,2],[1,2]]

#for i in 
#cur.execute("insert into books values({data})".format(data=(j)))
#
#print("value inserted successfully")
a.close()

['title,author,year']
title,author,year
['The Weirdstone of Brisingamen,Alan Garner,1960']
The Weirdstone of Brisingamen,Alan Garner,1960
['Perdido Street Station,China MiÃ©ville,2000']
Perdido Street Station,China MiÃ©ville,2000
['Thud!,Terry Pratchett,2005']
Thud!,Terry Pratchett,2005
['The Spellman Files,Lisa Lutz,2007']
The Spellman Files,Lisa Lutz,2007
['Small Gods,Terry Pratchett,1992']
Small Gods,Terry Pratchett,1992

<b>6. Select and print the title column from the book table in alphabetical order.</b>

<b>7. From the book table, select and print all columns in the order of publication.</b>

<b>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.</b>

<b>9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.</b>

<b>10. Increment the count field of test and print it.</b>